<style>
  .col-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
<div>
  {% if x.files %}
  <a href="{{x.files.url}}" target="__blank">Download File(1)</a>
  {% endif %}
</div>

<div>
  {% if x.images and x.video %}
  <div class='col-container'>
    <img src="{{x.images.url}}" height="410">
    <video width="230" controls autoplay muted>
      <source src="{{x.video.url}}" type="video/mp4" />
      Video Missing
    </video>
  </div>
  {% else %}
  <div>
    {% if x.images %}
    <img src="{{x.images.url}}" height="auto" />
    {% endif %}
  </div>

  <div stle="width:300px">
    {% if x.video %}
    <center>
      <video height="300" controls autoplay muted>
        <source src="{{x.video.url}}" type="video/mp4" />
        Video Missing
      </video>
    </center>
    {% endif %}
  </div>
  {% endif %}
</div>
