{% extends 'main.html'%} {% block content%}
<main class="layout layout--3">
  <div class="container">
    <!-- Topics start-->
    {% include 'base/topics_comp.html'%}
    <!-- Topics ends-->

    <!-- Room List Start -->
    <div class="roomList">
        <div class="profile">
            <div class="profile__avatar">
              <div class="avatar avatar--large active">
                <img src="{{user.avatar.url}}">
              </div>
            </div>
            <div class="profile__info">
              <h3>{{user.first_name}}</h3>
              <p>@{{user.username}}</p>
              <div>
              </div>
              <a href="/" class="btn btn--main btn--pill">Edit Profile</a>
            </div>
            <div class="profile__about">
              <h3>About</h3>
              <p>{{user.bio}}
              </p>
            </div>
          </div>
          <div class="roomList__header">
            <div>
              <h2>Study Rooms Hosted by {{request.user.username}}</a>
              </h2>
            </div>
          </div>
      {% include 'base/feed.html'%}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_comp.html'%}
        <!-- Activities End -->
  </div>
</main>

{% endblock %}






{% comment %} {% extends 'main.html'%}
{% block content%}
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;    
    }
</style>

<h2>{{user.username}}'s Profile</h2><hr>
<div class='profile-container'>
<div>
    {% include 'base/topics_comp.html'%}
</div>
<div>
{% include 'base/feed.html'%}
</div>
<div>
    {% include 'base/activity_comp.html'%}
</div>
</div>
{% endblock %} {% endcomment %}
